<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Local Strategy Authentication</h1>

    <button><a href="/whoami">Who Am I</a></button>
    <button><a href="/edit-profile">Edit Profile</a></button>
  </body>
</html>
