<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Local Strategy Authentication</h1>

    <button style="margin-top: 1%">
      <a href="/login">Login</a>
    </button>
    <br />
    <button style="margin-top: 1%">
      <a href="/register">Register</a>
    </button>
    <br />
    <button style="margin-top: 1%"><a href="/whoami">Who Am I</a></button>
    <br />
    <button style="margin-top: 1%">
      <a href="/edit-profile">Edit Profile</a>
    </button>
  </body>
</html>
